html, body {font-family: "Noto Sans KR", sans-serif; scroll-behavior: smooth;}
.top_btn {
    background-color: #222;
    width: 65px; height: 65px; text-align: center;
    display: flex; flex-flow: column nowrap;
    justify-content: center;
    position: fixed; z-index: 999; bottom: 60px; right: 30px;
    border: 1px solid #444;
}
.top_btn p img {}
.top_btn p:last-child {color: #fff; font-size: 0.75rem;}
header {position: fixed; z-index: 999; width: 100%; margin: 0 auto;}
header > .top {
    padding: 0 60px;
    background-color: #eee;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > .top .left {}
header > .top .left a {}
header > .top .left a img:first-child {margin-right: 30px;}
header > .top .left a img:last-child {}


header > .top .right {}
header > .top .right a {
    display: inline-block;
    font-size: 0.875rem; color: #808080;
    position: relative;
    padding: 0 10px;
}
header > .top .right a::after {
    content: '';
    display: inline-block;
    width: 1px; height: 14px;
    background-color: #ccc;
    position: absolute;
    top: 3px; left: 0;
} 
header > .top .right a:first-child {padding-left: 0;}
header > .top .right a:first-child::after {display: none;}
header > .top .right a:last-child {padding-right: 0;} 

/* 메인 헤더 ============================================ */
header .main_head {
    height: 60px; padding: 0 60px; background-color: #fff;
    display: flex; flex-flow: row nowrap;
    align-items: center; justify-content: space-between;
    border-bottom: 1px solid #eee;
}
header .main_head .left {
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
header .main_head .left h1 {margin-right: 60px;}
header .main_head .left h1 a {}
header .main_head .left h1 a img {}
header .main_head .left .nav_g {display: flex; flex-flow: row nowrap; align-items: center;}
header .main_head .left .nav_g a {}
header .main_head .left .nav_g a img {}
header .main_head .left .nav_g .gnb {
    display: flex; flex-flow: row nowrap;
    align-items: center;
    margin-left: 60px;
}
header .main_head .left .nav_g .gnb > li {
    margin-right: 60px;
    font-size: 1.125rem;
    letter-spacing: -0.4px;
}
header .main_head .left .nav_g .gnb > li > a {
    font-weight: 700;
    /* 자바스크립트 li>a의 서브 메뉴 박스 마우스 over, out 기능 되게 하기 
        a의 높이와 여백이 없어서 마우스 out 되었을때 서브메뉴가 나오지 않는 현상 발생.
        a에 높이를 줌으로써 해결
    */
    display: inline-block;
    line-height: 60px; /* header 높이 60px */
}
header .main_head .left .nav_g .gnb > li > .sub_all {
    /* 데스크탑 버전 nav의 서브 전체 박스 디자인 ---------------*/
    /* background-color: lime; */
    background-color: #fff;
    position: absolute; top: 95px; left: 0;
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start; /* sub메뉴 박스 5개 : 왼쪽 정렬 */
    width: 100%; padding: 40px 60px;
    letter-spacing: -0.4px;
    font-size: 0.875rem;
    border-bottom: 1px solid #ddd;
}
header .main_head .left .nav_g .gnb > li > .sub_all > li {
    /* ul.sub_all 마우스 올리면 나오는 서브메뉴 박스 영역의 모든 자식 li */
    margin-right: 50px;
    width: calc((100% / 5) - 40px);
    display: flex; flex-flow: column nowrap;
    letter-spacing: -0.4px;
    position: relative;
}
header .main_head .left .nav_g .gnb > li > .sub_all > li::after {
    content: '';
    display: inline-block;
    width: 1px; height: 100%;
    background-color: #eee;
    position: absolute; top: 0; right: -30px;
}
header .main_head .left .nav_g .gnb > li > .sub_all > li:last-child::after {
    display: none;
}
header .main_head .left .nav_g .gnb > li > .sub_all > li a {font-weight: 500;}
header .main_head .left .nav_g .gnb > li > .sub_all > li:nth-child(4) > ul {
    display: flex; flex-flow: column nowrap;
}
header .main_head .left .nav_g .gnb > li > .sub_all > li:nth-child(4) > ul:first-child {margin-bottom: 40px;}
header .main_head .left .nav_g .gnb > li > .sub_all > li:nth-child(4) > ul li {
    margin-bottom: 15px;
}
header .main_head .left .nav_g .gnb > li > .sub_all > li:nth-child(4) > ul li:last-child {margin: 0;}

header .main_head .left .nav_g .gnb > li > .sub_all > li h2 {
    margin-bottom: 20px; font-size: 1.125rem; font-weight: 700;
}
/* 서브메뉴 전체 중 4번째 용품, 언더웨어 (남녀공통) h2 여백 중복현상 삭제 (아래) */
header .main_head .left .nav_g .gnb > li > .men_sub > li:first-child,
header .main_head .left .nav_g .gnb > li > .women_sub > li:first-child {margin-bottom: 0;}
header .main_head .left .nav_g .gnb > li > .men_sub > li:nth-child(4) > ul li:first-child h2,
header .main_head .left .nav_g .gnb > li > .women_sub > li:nth-child(4) > ul li:first-child h2 {margin-bottom: 0;}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
header .main_head .left .nav_g .gnb > li > .sub_all > li h2 a {font-weight: 700;}

header .main_head .left .nav_g .gnb > li > .sub_all > * > a {
    /* background-color: pink; */
    margin-bottom: 20px;
}
header .main_head .left .nav_g .gnb > li > .sub_all > li > a:last-child{margin: 0;}
header .main_head .left .nav_g .gnb > li > .sub_all > * > a:hover {text-decoration: underline;}


header .main_head .left .nav_g .gnb > li > .sub_all > li .sub_of_sub { /* 데스크탑 서브의 서브메뉴 */
    /* background-color: aqua; */
    padding-left: 15px; margin-bottom: 20px;
    position: relative;
}
header .main_head .left .nav_g .gnb > li > .sub_all > li .sub_of_sub::before {
    content: ''; display: inline-block;
    width: 1px; height: 100%;
    background-color: #ddd;
    position: absolute; top: 0; left: 8px;
}
header .main_head .left .nav_g .gnb > li > .sub_all > li .sub_of_sub li {
    /* background-color: gray; */
    margin-bottom: 10px;
}
header .main_head .left .nav_g .gnb > li > .sub_all > li .sub_of_sub li > a {color: #888; /* background-color: aqua; */ font-weight: 400;}
header .main_head .left .nav_g .gnb > li > .sub_all > li .sub_of_sub li:hover {text-decoration: underline;}
header .main_head .left .nav_g .gnb > li > .sub_all > li .sub_of_sub li:last-child {margin: 0;}
header .main_head .left .nav_g .gnb > li > .sub_all > li:nth-child(4) .top {margin-bottom: 40px;}
header .main_head .left .nav_g .gnb > li > .sub_all > li:nth-child(4) .top a,
header .main_head .left .nav_g .gnb > li > .sub_all > li:nth-child(4) .btm a {
    margin-bottom: 15px;
}
header .main_head .left .nav_g .gnb > li > .sub_all > li:nth-child(4) .top a:last-child{margin: 0;}
header .main_head .left .nav_g .gnb > li > .sub_all > li:nth-child(4) .btm a:last-child{margin: 0;}
header .main_head .left .nav_g .gnb > li > a:hover {color: #CF0A2C;}

header .main_head .left .nav_g .gnb > li > .kids_sub > li:nth-child(4) .sub_of_sub > * {margin-bottom: 10px; /* 데스크탑 header 키즈 서브 : 용품 - 가방 메뉴 여백 */}
/* header .main_head .left .nav_g .gnb > li > .kids_sub {display: none;} */

header .main_head .left .nav_g .gnb > li > .sub_all > li ul.items li a:hover,
header .main_head .left .nav_g .gnb > li > .sub_all > li ul.underware li a:hover {
    /* 용품, 언더웨어 묶음 박스 안의 메뉴들 */
    /* background-color: red; */
    text-decoration: underline;
}

/* 모바일 .gnb > sub ============================================================================ */
/* 모바일 .gnb > sub =========================================== */
header .main_head .left .m_nav_g {
    background-color: #fff;
    top: 60px; left: 0;
    width: 100%; background-color: #fff;
    height: 44px; padding: 0 16px;
    display: flex; justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #eee;
    position: absolute; top: 60px; left: 0;
    font-size: 0.875rem;
    padding: 0 16px;
    /* ******************************* */
    /* ******************************* */
    /* 데스크탑에서 안 보이는 '모바일 서브' : 기본 값 : 숨기기 */
    display: none;
}
header .main_head .left .m_nav_g > a {margin-right: 60px;}
header .main_head .left .m_nav_g_> a img {}
header .main_head .left .m_nav_g .gnb {
    /*  background-color: lime; */ display: flex;
    width: 100%; justify-content: flex-start;
}
header .main_head .left .m_nav_g .gnb > li {
    /* background-color: pink; */
    /* width: calc(100%  / 3); */
    margin-right: 60px;
}
header .main_head .left .m_nav_g .gnb > li > a {
    font-weight: 700; display: inline-block; line-height: 44px;
}
header .main_head .left .m_nav_g .gnb > li > .m_sub {
    /* background-color: yellow; */
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    display: flex; flex-flow: row nowrap;
    position: absolute; top: 44px; left: 0;
    width: 100%; padding: 30px 16px;
}
header .main_head .left .m_nav_g .gnb > li > .m_women {display: none;}
header .main_head .left .m_nav_g .gnb > li > .m_kids {display: none;}
header .main_head .left .m_nav_g .gnb > li > .m_sub > li {position: relative;}
header .main_head .left .m_nav_g .gnb > li > .m_sub > li:after {
    content: ''; display: inline-block;
    background-color: #ddd;
    width: 1px; height: 100%;
    position: absolute; top: 0; right: 0;
    margin-right: 20px;
}
header .main_head .left .m_nav_g .gnb > li > .m_sub > li:first-child {
    /* 모바일 서브 박스의 첫번째 박스 전체=========================  */
    width: 120px;
}
header .main_head .left .m_nav_g .gnb > li > .m_sub > li:first-child h2 {margin-bottom: 30px;}
header .main_head .left .m_nav_g .gnb > li > .m_sub > li:first-child h2:last-child {margin-bottom: 0px;}
header .main_head .left .m_nav_g .gnb > li > .m_sub > li:first-child h2 a {font-weight: 800;}
header .main_head .left .m_nav_g .gnb > li > .m_sub > li:first-child h2 a:hover {color: #CF0A2C;}

header .main_head .left .m_nav_g .gnb > li > .m_sub > li:last-child {
    /* 모바일 서브 박스의 두번째 박스 전체 =========================  */
    position: relative;
    width: calc((100% - 120px) / 2);
    position: relative;
}
header .main_head .left .m_nav_g .gnb li > .m_sub li:last-child > ul {display: none;}
/* header .main_head .left .m_nav_g .gnb li > .m_sub li:last-child > ul.shoes {display: block;} */
header .main_head .left .m_nav_g .gnb li > .m_sub li:last-child > ul.cloths {display: block;}
/* header .main_head .left .m_nav_g .gnb li > .m_sub li:last-child > ul.items {display: block;} */
/* header .main_head .left .m_nav_g .gnb li > .m_sub li:last-child > ul.underware {display: block;} */
/* header .main_head .left .m_nav_g .gnb li > .m_sub li:last-child > ul.sports {display: block;} */
header .main_head .left .m_nav_g .gnb li > .m_sub li:last-child > ul li {
    margin-bottom: 30px;
}
header .main_head .left .m_nav_g .gnb li > .m_sub li:last-child > ul li:hover {text-decoration: underline;}
header .main_head .left .m_nav_g .gnb > li > .m_sub > li:last-child > ul > li ul.sub_of_sub {
    /* 모바일 서브 박스의 세번째 박스 전체 (서브의 서브상세메뉴) =========================  */
    position: absolute; top: 0; left: 100%;
    width: 100%;
}
header .main_head .left .m_nav_g .gnb li > .m_sub li:last-child > ul > li > a {font-weight: 500;}
header .main_head .left .m_nav_g .gnb > li > .m_sub > li:last-child > ul > li ul.sub_of_sub li > a {color: #888;}

header .main_head .left .m_nav_g .gnb li > .m_sub > li ul > li {}
header .main_head .left .m_nav_g .gnb li > .m_sub > li:first-child > * a {
    display: inline-block; width: calc(100% - 20px);
    /* a태그 : 메뉴 높이 여백 맞추기용 20px 적용 */
    line-height: 20px;
}
header .main_head .left .m_nav_g .gnb li > .m_sub > li ul > li a {
    width: calc(100% - 20px);  display: flex;
    align-items: center; justify-content: space-between; 
    /* a태그 : 메뉴 높이 여백 맞추기용 20px 적용 */
    height: 20px;
}
header .main_head .left .m_nav_g .gnb li > .m_sub > li ul > li a span {font-weight: 500;}
header .main_head .left .m_nav_g .gnb li > .m_sub > li ul > li a img {/* background-color: pink; */ padding-right: 10px; /* 모바일 서브 메뉴 옆 이미지 */}
/* 모바일 .gnb > sub =========================================== */
/* 모바일 .gnb > sub ============================================================================= */
header .main_head .right {
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
header .main_head .right > * {margin-right: 10px;}
header .main_head .right .search {}
header .main_head .right .my {}
header .main_head .right .login_join {
    display: flex; flex-flow: row nowrap;
}
header .main_head .right .login_join a {font-size: 0.875rem;}
header .main_head .right .login_join a:first-child::after {
    content: ''; display: inline-block;
    width: 1px; height: 14px;
    background-color: #000; margin: 0 10px;
}
header .main_head .right .my_cart {margin: 0;}
/* header -------------------- */
footer {background-color: #232323; color: #fff;}
footer .container {
    width: 100%; margin: 0 auto;
    padding: 60px 0 30px 43px;
}
footer .container .f_top {
    display: flex; flex-flow: row nowrap;
    margin-bottom: 140px;
}
footer .container .f_top li {margin-right: 120px;}
footer .container .f_top li:last-child {margin:0;}
footer .container .f_top li h4 {
    font-size: 1.5rem; font-weight: 700;
    margin-bottom: 10px;
}
footer .container .f_top li a {font-size: 1.125rem; color: #fff;}
footer .container .f_top li a:hover {text-decoration: underline;}

footer .container .f_btm {
    display: flex; flex-flow: row nowrap;
}
footer .container .f_btm .left {display: flex; flex-flow: row nowrap;}
footer .container .f_btm .left li {}
footer .container .f_btm .left li > * {}
footer .container .f_btm .left li .tit {font-weight: 700; margin-bottom: 40px;}
footer .container .f_btm .left li .sub {
    display: flex; flex-flow: column nowrap;
}
footer .container .f_btm .left li .sub a {margin: 0 60px 20px 0; color: #fff;}
footer .container .f_btm .left li .sub a:last-child {margin: 0 40px 20px 0;}
footer .container .f_btm li .sub a:hover {text-decoration: underline;}

footer .container .f_btm .right {}
footer .container .f_btm .right > * {margin-top: 30px;}
footer .container .f_btm .right > *:first-child {margin:0;}
footer .container .f_btm .right > *:last-child {margin: 0;}
footer .container .f_btm .right .sns_list {}
footer .container .f_btm .right .sns_list a {margin-right: 40px;}
footer .container .f_btm .right .sns_list a:last-child {margin: 0;}
footer .container .f_btm .right .info_top {}
footer .container .f_btm .right .info_top p {margin-bottom: 10px;}
footer .container .f_btm .right .info_top p a {color: #fff; text-decoration: underline;}
footer .container .f_btm .right .info_top p a:hover {color: #CF0A2C;}
footer .container .f_btm .right .info_top p span {display: inline-block;}

footer .container .f_btm .right .info_btm {
}
footer .container .f_btm .right .info_btm li {}
footer .container .f_btm .right .info_btm li a:hover {color: #CF0A2C;}
footer .container .f_btm .right .info_btm li p {margin-bottom: 10px;}
footer .container .f_btm .right .info_btm li p a {color: #fff; text-decoration: underline;}
footer .container .f_btm .right .info_btm li:last-child {
    display: flex; flex-flow: column nowrap;
    padding-bottom: 30px;
    margin-top: 30px;
}
footer .container .f_btm .right .info_btm li:last-child img {width: 56px;}
footer .container .f_btm .right .info_btm li:last-child span {}
footer .container .f_btm .right .info_btm li:last-child span:nth-child(2) {padding: 20px 0;}
footer .container .f_btm .right .copy {}