/* 뉴발란스 코리아 반응형 */
@media screen and (max-width: 1340px) {/* 태블릿 1200px에서 보이는 디자인 */
    header > .top {padding: 0 30px;}
    header .main_head {padding: 0 30px;}
    main .bg {width: calc(100% - 60px); margin: 0 auto;}
    main .bg1 {width: 100%;}
    main .bg .product {width: 100%;}
    main .bg2 .product > *,
    main .bg3 .product > * {width: calc((100% - 40px) / 4);}
    main .bg2 .product > * img,
    main .bg3 .product > * img {width: 100%; margin: 0 auto;}

    main .bg:nth-child(even) {/* bg 짝수번 padding 여백 */
        padding: 0; padding: 120px 0;
    }
    main .bg:nth-child(even) .container {padding: 0;}

    main .bg4 .container p img {width: 100%;}
    main .bg .container .cont {
        /* bg5,6,7 공통 선택자 */
        display: flex; flex-flow: row nowrap;
        align-items: center; justify-content: space-between;
        width: 100%;
    }
    main .bg .container .product_scroll {width: calc(100% - 60px);}

    main .bg8 .container .product > * {width: calc((100% - 40px) / 3);}
    main .bg8 .product > *  p img {width: 100%;}
    main .bg8 .product > * p {margin: 0; padding: 0;}
    main .bg8 .container .product a h3::after {display: none;}

    footer .container {width: 100%; padding: 60px 30px;}
    footer .container .f_btm {flex-flow: column nowrap;}
    footer .container .f_btm .left {margin-bottom: 40px;}
}
/* 1200px 태블릿 ======================================== (위) */
/* 1200px 태블릿 ======================================== (위) */


@media screen and (max-width: 1200px) {
    main .bg5 .container .cont .product .bg5_product {width: calc((100% / 2) * 9);}
    main .bg5 .container .cont .product .bg5_product a {width: 500px;}

    main .bg6 .container .cont .product .bg6_product,
    main .bg7 .container .cont .product .bg7_product {
        display: flex; flex-flow: row nowrap;
        width: calc((100% / 3) * 12);
    }
    main .bg6 .container .cont .product .bg6_product a,
    main .bg7 .container .cont .product .bg7_product a {width: 320px;}
}

@media screen and (max-width: 1090px) {
    footer .container {padding: 60px 16px;}
    footer .container .f_top {width: 100%;}
    footer .container .f_top li {margin-right: 60px;}
}
@media screen and (max-width: 1040px) {
    header .main_head {padding: 0 16px;}
    header .main_head .left h1 {margin: 0;}
    header .main_head .left .nav_g {display: block;}
    header .main_head {position: relative;}

    header .main_head .left .nav_g {display: none;}
    header .main_head .left .m_nav_g {display: flex;}
    main {padding: 139px 0 0;/* header 높이 95px */ /* overflow-x: hidden; */}
}
/* ------------------------------------------------------------ 중간가로값 반응형 */
@media screen and (max-width: 760px) {
    main .bg .container .title {width: 100%; margin: 0 auto;}
    main .bg {width: 100%;}
    /* h2, p .title 글자 공통 */
    main .bg .info .title h2,
    main .bg .container .title h2 {font-size: 2rem; padding: 10px 0;}
    main .bg .info .title p,
    main .bg .container .title p {font-size: 1rem;}


    main .bg .container .product {}
    main .bg2 .container {/* background-color: pink; */}
    main .bg2 .container .product {
        flex-flow: row wrap;
        width: 100%;
    }
    main .bg2 .container .product > a {width: calc((100% - 32px) / 2);}

    main .bg2 .container,
    main .bg3 .container {
        width:calc(100% - 16px); margin: 0 auto;
    }
    main .bg3 .container .product {
        flex-flow: row wrap;
        width: 100%;
    }
    main .bg3 .container .product > a {width: calc((100% - 32px) / 2);}

    main .bg5 .container .cont .product {width: calc(100% - 60px);}
    main .bg5 .container .cont .product .bg5_product {
        width: calc((100% / 2) * 9);
        justify-content: space-between;
    }
    main .bg5 .container .cont .product .bg5_product a {width: 300px; margin-right: 26px;}

    main .bg6 .container .title,
    main .bg7 .container .title {padding: 0 16px;}
    main .bg6 .container .cont,
    main .bg7 .container .cont {padding: 0 16px; width: 100%;}

    main .bg6 .container .cont .product .bg6_product,
    main .bg7 .container .cont .product .bg7_product {
        /* background-color: red; */
        display: flex; flex-flow: row nowrap;
        width: calc((100% / 2) * 12);
    }
    main .bg6 .container .cont .product .bg6_product a,
    main .bg7 .container .cont .product .bg7_product a {width: 300px;}

    main .bg8 .container .title {padding: 0 16px;}
    main .bg8 .container .product {padding: 0 16px;}
    footer .container .f_top {
        flex-flow: column nowrap;
    }
    footer .container .f_top li {margin-bottom: 40px;}
    footer .container .f_top li:last-child {margin:0;}


    main .bg2 .container .title,
    main .bg3 .container .title,
    main .bg4 .container .title {
        /* background-color: red; */ margin-bottom: 40px;
    }
    
    main .bg5 .container {padding: 0 16px;}

    main .bg4 .container > p {padding: 0 16px; margin-bottom: 20px;}
    main .bg4 .container > p img:first-child {display: none;}
    main .bg4 .container > p img:last-child {display: block;}

    header .main_head .left .m_nav_g > a img {width: calc(100%);}

    .top_btn {
        width: 55px; height: 55px;
        right: 16px;
    }
    .top_btn p img {width: 24px;}
    .top_btn p:last-child {color: #fff; font-size: 0.75rem;}
    header > .top .right {display: none;}
}
/* 760px 모바일 ========================================= (위) */
/* 760px 모바일 ========================================= (위) */

@media screen and (max-width: 520px) {
    main .bg .info .title h2,
    main .bg .container .title h2 {font-size: 1.75rem; padding: 10px 0;}
    main .bg .info .title p,
    main .bg .container .title p {font-size: 0.875rem;}
    main .bg .container .product {padding: 0;}
    main .bg .container a[class*=all] {
        width: 100%; display: inline-block;
    }
    main .bg1 .container {padding: 0 16px;}
    main .bg1 .container .info .members_btn {
        width: 100%; display: inline-block;
    }
    main .bg4 .container .info {padding: 0 16px;}
    main .bg4 .container .info .btn {
        display: flex; flex-flow: column nowrap; width: 100%;
    }
    main .bg4 .container .info .btn .go_details_btn {width: 100%; display: inline-block;}
    main .bg4 .container .info .btn .go_buy_btn {width: 100%; display: inline-block;}
    main .bg4 .container .info .btn a:last-child {margin: 0; margin-top: 20px;}


    header .main_head .left .m_nav_g > a {margin-right: 20px;}
    header .main_head .left .m_nav_g .gnb > li {margin-right: 30px;}
}